* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    background-color: aquamarine;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    padding-top: 1%;
    padding-left: 61%;
    padding-bottom: 1%;

}

body {
    
    background-image: linear-gradient(
        45deg, black, #221133
    );
  } 

h1  {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 60px;
    color: azure;
    border: 10px solid rgb(255, 255, 255);
    margin: 10px;
}

h2, h3, p  {
    color: azure;
}

div {
    font-family: 'Nunito', sans-serif;
    color: azure;
}

.container {
    align-items: center;
}

#rodape {
    font-family: Arial, sans-serif;
    padding-top: 3%;
    padding-bottom: 1%;
    color: white;
    text-align: center;
}