#container {
    width: 1000px;
}

h1  {
    text-align: center;
    font-size: 60px;
    color: azure;
    border: 10px solid rgb(0, 0, 0);
    margin: 10px;
}

#container {
    align-items: center;
}

body {
    font-family: system-ui;
    background: #5154ec;
    color: rgb(255, 255, 255);
  }